body {
    height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(216, 216, 216), rgb(213, 213, 213));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#calculator {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.406);
    background-color:transparent;
}

#top-display {
    width: auto;
    height: 30px;
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.499);
    border-bottom: solid rgba(0, 0, 0, 0.11) 1px;
}

#display {
    width: auto;
    height: 50px;
    font-family: monospace;
    background-color: rgb(255, 255, 255);
    border: none;
    color: black;
    font-size: 24px;
    font-weight: 100;
    text-align: end;
}

.btn {
    font-size: 24px;
    font-weight: 100;
    border: none;
    background-color:rgb(255, 255, 255) ;
}

.operator {
    background-color:rgb(255, 249, 233) ;
}

#clear-delete {
    display: flex;
    width: auto;
    height: 100px;

}

#clear-btn {  
    width: 150px;
    font-weight: 400;
    background-color: rgb(255, 222, 222);
}

#delete-btn {
    width: 150px;
    font-weight: 400;
    background-color: rgb(227, 227, 255);
}

#btns-container {
    display: grid;
    width:300px;
    height: 400px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
}

